<div id="modal-all">
	<div class="modal-header">
		<h3 class="modal-title" id="modal-title">View Order</mark></h3>
	</div>

	<div class="modal-body" id="modal-body">
	<table class="orderInfo table">
		<tr>
			<td class="static-content header-menu-content">
				<ul class="nav nav-tabs">
				</ul>
			</td>
		</tr>
		<tr>
			<td class="dynamic-content body-content">
				<div ng-include="orderContentHTML"></div>
			</td>
		</tr>
	</table>

	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="close()">Close</button>
	</div>
</div>