<html>
<head>
    <title>Bizright Connector</title>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
    <script src="assets/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>



    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="assets/css/custom.css" rel="stylesheet" />
    <link href="assets/css/angular-chart.min.css" rel="stylesheet" />
    <link href="assets/css/despatch-console.css" rel="stylesheet" />

    <script src="assets/js/loadingoverlay.min.js"></script>
    <script src="assets/js/Chart.min.js"></script>
    <script src="assets/js/angular-chart.min.js"></script>
    <script src="assets/js/ng-file-upload-shim.min.js"></script>
    <script src="assets/js/ng-file-upload.min.js"></script>


    <script src="Model/Service/ApiService.js"></script>
    <script src="Model/Controller/DespatchConsole/Scan/ScanItemController.js"></script>
    <script src="Model/Controller/DespatchConsole/GetOrderDetailController.js"></script>
    <script src="Model/Controller/DespatchConsole/DespatchConsoleController.js"></script>
    <script src="Model/Controller/DespatchConsole/GetOrderByScanCodeController.js"></script>
    <script src="Model/Controller/WarehouseTransfer/GetTransferDetailController.js"></script>
    <script src="Model/Controller/WarehouseTransfer/CreateNewTransferController.js"></script>
    <script src="Model/Controller/WarehouseTransfer/WarehouseController.js"></script>
    <script src="Model/Controller/MainController.js"></script>
    <script src="Model/App.js"></script>

</head>
<body>
    <div ng-app="App" ng-controller="MainController">
        <nav class="navbar navbar-default" id="nav-bar">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Bizright Connector</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <h4 class="navbar-text">Location</h4>
                    <ul class="nav navbar-nav" id="FromLocationSelector">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{selectedFromLocation.LocationName}}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="x in models.locations" ng-click="changeFromLocation(x)"><a>{{x.LocationName}}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div ng-view>
        </div>	
    </div>
</body>
</html>